@use '../base/variables' as v;
@use '../base/mixins' as m;

.acciones {
    margin-top: v.$separacion;
    @include m.tablet{
        display: flex;
        justify-content: space-between;
    }

    a{
        color: v.$blanco;
        display: block;
        text-align: center;
        margin-bottom: calc(v.$separacion / 2);
    }
}

.confirmarCuenta {
    justify-content: center;
    a{
        margin-top: calc(v.$separacion);
        color: v.$burntUmber;
        font-weight: bold;
        padding: 1rem;
    }
}