@use '../base/variables' as v;
@use '../base/mixins' as m;

.listado-servicios{
    @include m.grid(1, 1rem);
    
    @include m.tablet{
        @include m.grid(2, 2rem);
    }

    .servicio{
        background-color: v.$card;
        padding: 3rem;
        border-radius: 1rem;
        transition-property: transform;
        transition-duration: 300ms;
        text-align: center;
        cursor: pointer;

        &.seleccionado{
            background-color: v.$tan;
            p{
                color: aliceblue;
            }
        }

        &:hover{
            transform: scale(1.1);
        }


    }

    p {
        color: v.$abbey;
        margin: 0 0 calc(v.$separacion / 4) 0;
    }

    .precio-servicio{
        color: v.$tan;
        font-weight: v.$bold;
        font-size: 3rem;
        margin: 0;
    }
    
    .total {
        span {
            font-weight: bold;
        }
    }
}